/*
 * @Author: AuthorJim 
 * @Date: 2017-06-30 17:39:06 
 * @Last Modified by: AuthorJim
 * @Last Modified time: 2017-07-01 16:48:43
 */


/*排序按钮*/

.sort-con {
    overflow: hidden;
}

.sort-con .sort-item {
    float: left;
    position: relative;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    margin-right: -1px;
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    cursor: pointer;
}

.sort-con .sort-item.active {
    background: #c60023;
    color: #fff;
    border: 1px solid #c60023;
}


/*// 图标样式*/

.sort-con .fa {
    vertical-align: middle;
}

.sort-con .sort-item .fa-sort-desc {
    position: absolute;
    top: 8px;
    right: 8px;
}

.sort-con .sort-item.asc .fa-sort-desc {
    opacity: .6;
}

.sort-con .sort-item.desc .fa-sort-asc {
    opacity: .6;
}


/*list-con*/

.p-list-con {
    margin-top: 15px;
    overflow: hidden;
    margin-right: -20px;
}

.p-list-con .p-item {
    position: relative;
    float: left;
    width: 180px;
    padding: 10px;
    margin: 0 20px 20px 0;
    cursor: pointer;
    background: #fff;
}

.p-list-con .p-item:hover {
    box-shadow: 1px 1px 7px #ddd;
}

.p-list-con .p-item .p-img-con {
    width: 180px;
    height: 200px;
}

.p-list-con .p-item .p-img {
    width: 100%;
    height: 100%;
}

/*价格*/
.p-list-con .p-item .p-price-con{
    height: 30px;
    line-height: 30px;
}
.p-list-con .p-item .p-price{
    font-size: 16px;
    color: #e7380d;
}
/* 描述 */
.p-list-con .p-item .p-name-con{
    height: 40px;
    overflow: hidden;
}
.p-list-con .p-item .p-name{
    line-height: 20px;
    margin-bottom: 10px;
    color: #666;
}

