/*
 * @Author: AuthorJim 
 * @Date: 2017-06-30 11:41:59 
 * @Last Modified by: AuthorJim
 * @Last Modified time: 2017-06-30 13:44:02
 */

.form-line {
    height: 30px;
    line-height: 30px;
}

.form-line .label {
    display: inline-block;
    text-align: center;
} 