<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://www.tmall.com/" class="link">天猫</a>
            <a href="https://www.jd.com/" class="link">京东</a>
            <a href="http://www.vip.com/" class="link">唯品会</a>
            <a href="http://www.yhd.com/" class="link">一号店</a>
        </div>
        <p class="copyright">
            Copyright &copy; 2017 Tmall-JD.com All Rights Reserved
        </p>
    </div>
</div>
<script src='https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js'></script>